.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    position: relative;
    width: 1440px;
    height: 2111px;
    background: #F5F5F5;
}

section.top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 1440px;
    height: 467px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}