/* CONTENEDOR PRINCIPAL */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    position: relative;
    width: 1440px;
    height: 2111px;
    background: #F5F5F5;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 1440px;
    height: 115px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    gap: 550px;
    width: 1380px;
    height: 10px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 601px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__logo {
    width: 170px;
    margin-top: 14px;
    height: 80px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__search {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 329px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.header__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 8px;
    width: 390px;
    height: 10px;
    background: #F5F5F5;
    border-radius: 20px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header__btn--search {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 5px;
    padding-left: 10px;
}

.header__btn--login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    color: #2A7AE4;
    width: 182px;
    height: 51px;
    border: 1px solid #2A7AE4;
    flex: none;
    order: 1;
    flex-grow: 0;
    background: #FFFFFF;
}

.header__btn--login:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

/* SECCIÓN BANNER */

section.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    gap: 16px;
    width: 1380px;
    height: 300px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(images/banner-image.png);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.banner__information {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1136px;
    height: 170px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner__title {
    width: 751px;
    height: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner__p {
    width: 751px;
    height: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banner__btn--offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    color: #F5F5F5;
    width: 129px;
    height: 51px;
    background: #2A7AE4;
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* SECCIÓN STAR WARS */

section.starwars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1380px;
    height: 306px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.products__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 871px;
    width: 1380px;
    height: 38px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.products__title {
    width: 148px;
    height: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 40px;
    margin-top: 40px;
}

.products__vertodo {
    width: 65px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 20px;
    margin-top: 40px;
}

.products__imgArrow {
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;

}

.products_box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
    gap: 16px;
    width: 1136px;
    height: 252px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

li {
    list-style: none;
}

.card__name {
    width: 176px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.card__price {
    width: 176px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.card__view {
    width: 100px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    flex: none;
    order: 3;
    flex-grow: 0;
}